@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Merriweather:wght@300&display=swap');


.hero {
  position: relative;
  padding: 20px 20px;
  text-align: center;
  margin-left: 250px; /* รักษาตำแหน่งที่ต้องการสำหรับหน้าจอใหญ่ */
}

.title-head{
  font-family: 'Lobster', cursive;
  font-size: 48px;
  font-weight: bold;
}

.title-mini{
  font-family: 'Merriweather', serif;
  font-size: 1.2rem;
  color: #5a5a5a;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
}

.title-head2,
.title-head3,
.title-head4 {
  font-family: 'Lobster', cursive;
  font-size: 48px;
  font-weight: bold;
}

.title-mini2,
.title-mini3,
.title-mini4 {
  font-family: 'Merriweather', serif;
  font-size: 1.2rem;
  color: #5a5a5a;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
}

.read-more {
  background-color: transparent;
  border: none;
  color: #000000f1;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
}

.read-more:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* ----------------------------------------- Responsive for mobile ----------------------------------- */

@media screen and (max-width: 768px) {
  body, html {
    width: 100vw;  /* กว้างเต็มหน้าจอ */
    height: auto;  /* ยาวตามเนื้อหา */
    overflow-x: hidden; /* ป้องกันเลื่อนแนวนอน */
  }

  .hero {
    max-width: 14%;
    margin-left: 840px; /* ลด margin-left สำหรับมือถือเพื่อให้ไม่เกินขอบ */
    padding: 20px 10px;
    align-items: flex-start; /* ให้ย้ายไปที่ขอบซ้ายสำหรับมือถือ */
  }

  .title-head {
    font-size: 1rem; /* ปรับขนาดฟอนต์ */
  }

  .title-mini {
    font-size: 0.7rem; /* ปรับขนาดฟอนต์ */
  }

  .title-head2,
  .title-head3,
  .title-head4 {
    font-size: 0.9rem; /* ปรับขนาดฟอนต์ */
  }

  .title-mini2,
  .title-mini3,
  .title-mini4 {
    font-size: 0.7rem; /* ปรับขนาดฟอนต์ */
  }

  .read-more {
    font-size: 0.7rem; /* ปรับขนาดฟอนต์ */
  }
}
